/* hide unwanted genera unles role is maintainer*/
/* dev site */
.tinytax li#tinytax-94860 {
	display:none;
}
.tinytax li#tinytax-94855 {
	display:none;
}
.tinytax li#tinytax-94861 {
	display:none;
}
.tinytax li#tinytax-94859 {
	display:none;
}
.tinytax li#tinytax-94854 {
	display:none;
}
.tinytax li#tinytax-94858 {
	display:none;
}
.tinytax li#tinytax-94857 {
	display:none;
}
.tinytax li#tinytax-94856 {
	display:none;
}
/* end dev site */

/* live site */
.tinytax li#tinytax-3682 {
	display:none;
}
.tinytax li#tinytax-3677 {
	display:none;
}
.tinytax li#tinytax-3683 {
	display:none;
}
.tinytax li#tinytax-3681 {
	display:none;
}
.tinytax li#tinytax-3676 {
	display:none;
}
.tinytax li#tinytax-3680 {
	display:none;
}
.tinytax li#tinytax-3679 {
	display:none;
}
.tinytax li#tinytax-3678 {
	display:none;
}
/* end live site */