.node .field-slideshow-wrapper div.item-list ul li {
	list-style: none;
}

.field-slideshow-wrapper .field-slideshow {
	margin-bottom: 10px;
}

.field-slideshow-slide {
	width: 100% !important;
	/* Makes sure the images are centered */
	text-align: center;
}

.field-slideshow-caption {
	margin-top: 5px;
}

.genus,.specific-epithet,.clade,.sol-section {
	font-style: italic;
}

.authority {
	font-style: normal;
}

.view-solanaceae-field-work-page .views-row {
	float: left;
	margin-bottom: 10px;
}

.view-solanaceae-field-work-page .views-row	p {
	margin-bottom: 0px;
}

.views-field-field-fieldwork-intro-image {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

.block-solanaceae-resources-block  .views-row {
	margin: 0 0 0.25em 1.5em;
}


/* Slideshow */
.view-front-page-slideshow{
  background: #fff;
}

.view-front-page-slideshow .views-slideshow-pager-field-item img{
  margin-right: 1px;
  margin-bottom: 1px;
}

#views_slideshow_pager_field_item_bottom_front_page_slideshow-default_3 img{
  margin-right: 0!important;
}

.view-front-page-slideshow #views_slideshow_pager_field_item_bottom_home_page_slideshow-block_1_3 img{
  margin-bottom: 0;
}

.view-front-page-slideshow .views_slideshow_cycle_main{
  position: relative;
  margin-right: 1px;
  margin-bottom: 1px;
}

.view-front-page-slideshow .views-field-filename{
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 10px 0;
  color: #fff;
}

.view-front-page-slideshow .views-field-filename span{
  padding: 0 10px;
  display: block;
}

/* Slideshow controls */
.views-slideshow-pager-field-item{
  float: left;
}

.views-slideshow-controls-bottom{
  min-width: 620px;
}
