.view-solanaceae-field-work-content .item-list ul li {
	float: left;
	margin: 0 0 1em 0;
}
.views-field.views-field-field-sol-fw-intro-image {
	float: left;
	margin-right: 1em;
}
.view-solanaceae-field-work-content .view-display-id-page .views-field.views-field-body {
	margin-top: 1em;
}