p.sol-type-of {
	font-weight: bold;
}
.name-acc .genus, .name-acc .species, .name-acc .infraspecies, .name-acc .rank, .name-acc .authority {
	font-weight: bold;
}
td.type span.sol-primary-collector, td.type span.sol-coll-number {
	font-weight: bold;
}
div#sol-synonyms {
	margin-left: 20px;
	margin-bottom: 20px;
}
div#syn-list {
	display: none;
}
ul#sol-selected-name {
	background: #ecf2ef;
	margin-bottom: 20px;
}
ul#sol-selected-name li {
	margin-left: 5px;
	margin-right: 5px;
}
.selected-name {
	background: #ecf2ef;
}

/*list*/


div#sol-recs-nav {
	border: 1px solid #669966;
	border-width: 0 1px 1px 0;
	background: #d9e6df;
}
p#sol-recs-header, p#sol-recs-footer {
	background: #696 url(images/bg-h.gif) no-repeat top right;
	color: #fff;
	font-size: 0.7em;
	font-weight: bold;
	padding: 3px 6px;
	margin: 0;
}
p#sol-recs-footer {
	background: #696 url(images/bg-f.gif) no-repeat bottom left;
	text-align: right;
	border: 1px solid #669966;
	border-width: 0 1px 0 0;
}
div#sol-recs-nav form {
	margin: 0;
	border: none;
}
	form.sol-next, form.sol-last {
		float: right;
	}
	form.sol-back, form.sol-first {
		float: left;
	}
div#sol-recs-nav input.sol-btn {
		height: 19px;
	}
table#sol-results {
	clear: left;
	margin: 5px 0;
	width: 100%;
}
table#sol-results tr td {
   	padding: 2px 3px;
   	border-top: 1px solid #d9e6df;
}
table#sol-results tr.row-detail {
	background: #ecf2ef;
}
table#sol-results tr.row-detail td {
	padding: 0 0 10px 40px;
	border: none;
	font-size: 0.7em;
}
table#sol-results tr.sol-record .genus, table#sol-results tr.sol-record .species, table#sol-results tr.sol-record .infraspecies {
	
}
table#sol-results tr td.status {
	width: 25px;
	font-size: 0.6em;
	vertical-align: middle;
}
table#sol-results tr td.status a {
	display: block;
	text-decoration: none;
	color: #000;
	text-align: center;
}
table#sol-results tr td.status a:visited {
	text-decoration: none;
}
table#sol-results tr td.stat- a:hover, td.stat-acc a:hover, td.stat-pa a:hover, td.stat-syn a:hover, td.stat-nn a:hover, td.stat-unc a:hover, td.stat-unk a:hover {
	color: #fff;
}

table#sol-results tr td.stat- {
	background: #f2f2f2;
}
table#sol-results tr td.stat-acc {
	background: #696;
}
table#sol-results tr td.stat-pa {
	background: #b2ccb2;
}
table#sol-results tr td.stat-syn {
	background: #999;
	color: #fff;
}
table#sol-results tr td.stat-nn {
	background: #ccc;
}
table#sol-results tr td.stat-unc {
	background: #ecf2ef;
}
table#sol-results tr td.stat-unk {
	background: #ecf2ef;
}


dl#sol-taxstat, dl#sol-typestat {
	margin: 5px 0 20px 20px;
}
dl#sol-taxstat dt, dl#sol-taxstat dd, dl#sol-typestat dt, dl#sol-typestat dd {
	font-size: 0.7em;
	display: inline;
	float: none;
	margin: 0;
}
dl#sol-taxstat dd, dl#sol-typestat dd {
	margin-right: 5px;
}





table#sol-specimen-record td {
	font-size: 0.75em;
	border-bottom: 1px solid #d9e6df;
}





div#sol-linked-specimens ul li {
	font-size: 0.7em;
}

td.sol-accepted-name, td.sol-type-specimen {
	background: #ecf2ef;
}

option.sol-current {
	background: #ecf2ef;
}


/****collection detail******/
table#collection-container, table#specimens {
	width: 650px;
	margin: 0;
	padding: 0;
}
table#specimens {
	margin: 20px 0 50px 0;
}
table#collection-container td {
	padding: 0;
}
table#collection-container col.col-collection-map {
	width: 180px;
}
table#collection-container td#google-map {
	padding-top: 10px;
}
table#collection-record {
	margin-right: 10px;
	width: 100%;
}
table#collection-record col.col-label {
	width: 110px;
}

table#collection-record th {
	text-align: right;
	font-size: 0.85em;
	padding: 1px 0;
}
table#collection-record td {
	padding: 1px 10px;
}
table#specimens th {
	font-size: 0.7em;
}
table#specimens tr.determination td, table#specimens tr.type-status td {
	padding-left: 40px;
}
table#specimens td.type-specimen {
	color: red;
	font-weight: bold;
}
table#specimens tr.type-status {
	border-bottom: 2px solid #d9e6df;
}

table#specimens td img.sol-img-thumbnail {
	width: 50px;
}


/**** SECTION: TAXONOMY IMAGES (MULTIMEDIA) ****/
/** Custom main thumbnail gallery list styles **/
div#multimedia div.gallery-item {
	width: 120px;
}
div#multimedia div.gallery-item img {
	border: 1px solid #000;
}
/* End custom main thumbnail gallery list styles */


/** Custom related thumbnail gallery list styles **/
div#sol-linked-images div.sol-img {
	border-bottom: 1px dashed #d9e6df;
	margin-bottom: 10px;
}
div#sol-linked-images div.sol-img p {
	margin-bottom: 8px;
}
/** End custom related thumbnail gallery list styles **/





/*list preferences
form#sol-recs-displayed label, form#sol-order-by label, form#sol-filter-display label {
		font-size: 0.7em;
		float: right;
		margin-right: 5px;
	}
	form#sol-recs-displayed label select, form#sol-recs-displayed label input, form#sol-order-by label select, form#sol-order-by label input, form#sol-filter-display label select, form#sol-filter-display label input {
		font-size: 0.9em;
	}
	
	form#sol-recs-displayed input.sol-btn, form#sol-order-by input.sol-btn, form#sol-filter-display input.sol-btn {
		font-size: 0.7em;
		float: right;
	}
	form#sol-recs-displayed fieldset, form#sol-order-by fieldset, form#sol-filter-display fieldset {
		padding: 20px 10px 5px 10px;
	}
	form#sol-recs-displayed fieldset legend, form#sol-order-by fieldset legend, form#sol-filter-display fieldset legend {
		font-size: 0.7em;
		color: #696;
		margin-bottom: 10px;
	}

	
form#sol-order-by {
	float: right;
}
form#sol-order-by fieldset {
	border: none;
}
form#sol-order-by fieldset legend {
	display: none;
}
form#sol-order-by fieldset select {
	border-color: #696;
	color: #696;
	font-size: 0.8em;
}
*/