.view-id-solanaceae_field_work_page .views-field-field-media {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.view-id-solanaceae_field_work_page .views-field-title {
	margin-bottom: 5px;
}

.view-id-solanaceae_field_work_page .views-field-body-1 {
	
}

.view-id-solanaceae_field_work_page .views-field-body {
	clear: both;
}